:root {
  font: link href=
    'https://fonts.googleapis.com/css?family=Alex+Brush&display=swap' rel=
    'stylesheet';
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Alex Brush', cursive;
}

img {
  width: 300px;
  height: 400px;
}

.nav-bar {
  display: flex;
  background-color: #fcbf49;
  margin: 0;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  justify-content: space-between;
  padding: 2rem;
  color: black;
}

a {
  font-size: 2rem;
  text-decoration-color: black;
}

.form-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem;
}

.button {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}

.form-section {
  display: flex;
  box-shadow: black 4px 4px 10px;
  border-radius: 5px;
  margin-left: 30rem;
  margin-right: 30rem;
}

main {
  display: flex;
  background-color: rgb(120, 177, 145);
}
.lower-section {
  background-color: rgb(238, 65, 76);
}

.form {
  display: flex;
  margin-top: 0rem;
  margin-bottom: 1rem;
  background-color: white;
}

input[type='date'] {
  text-align: center;
}

.directory-title {
  background-color: rgb(238, 65, 76);
  margin: 0rem;
}

.employee-database {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: white;
  justify-content: space-around;
}

.employee-detail-section {
  background-color: rgb(238, 65, 76);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.employee {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 8px;
  margin: 1rem;
}

.employee-detail-info {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
}

.employee-card {
  background-color: rgb(238, 65, 76);
  color: black;
  display: flex;
  flex-wrap: wrap;

  border-radius: 5px;
  border: solid 3px black;
  width: 40rem;

  justify-content: space-around;
}

.company-name {
  font-size: 4rem;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding-bottom: 4rem;
}
